<div class="container">
    <div class="row">
        <div class="col-4 text-center">
            <p><h2><%= @user.name %></h2></p>
            <p class="rounded-circle" ><%= image_tag @user.avatar.url , size:"150x150" ,class:"rounded-circle" %></p>
            <p><%= @user.email %></p>
            <%  if @user != current_user %> 
                <% if current_user.relationship(@user) %>  
                    <%= button_to "Unfollow", relationship_path(current_user.relationship(@user)),
                    class:"btn btn-sm btn-danger",
                    method: :delete %>
                <% else %>
                    <%= button_to "Follow", relationships_path, 
                    params: { followed_id: @user.id }, 
                    class:"btn btn-sm btn-success" %>
                <% end %>
            <% end %>
            <hr>
            <div class="row">
                <div class="col-6"><strong><%= link_to @user.active_relationships.count,following_user_path(@user)%></strong>
                    <div>following</div>
                </div>
                <div class="col-6"><strong><%= link_to @user.passive_relationships.count,followers_user_path(@user)%></strong>
                    <div>follower</div>
                </div>
            </div>
            <hr>
        </div>
        <div class="col-8">
            <h1>Activity</h1>
            <hr class="mb-1">
            <div class="p-2 mx-5">
                <% @activities.each do |activity|%>
                    <div class="col-sm-10">
                        <% if activity.action.instance_of?(Lesson) %>
                            <div class="media py-2">
                                <%= image_tag @user.avatar.url , size:"70x70", class: "mx-2 rounded" %>
                                <div class="media-body">
                                    <p class="mt-1 mb-0"><%= @user.name%> learned  
                                    <span class="badge badge-info"><%= link_to activity.action.category.title, lesson_path(activity.action.id), class:"text-white"%></span></p>
                                    <small class="text-secondary"><%= time_ago_in_words activity.created_at %>  ago</small>                               
                                </div>
                            </div>
                        <% else %>
                            <div class="media py-2">
                                <%= image_tag @user.avatar.url , size:"70x70", class: "mx-2 rounded" %>
                                <div class="media-body">
                                    <p class="mt-1 mb-0"><%= @user.name%> followed 
                                    <span class="badge badge-info"><%= link_to activity.action.followed.name, user_path(activity.action.followed.id), class:"text-white"%></span></p>
                                    <small class="text-secondary"><%= time_ago_in_words activity.created_at %>  ago</small>
                                </div>
                            </div>
                        <% end %> 
                    </div>
                <% end %> 
                <div>
                    <%= will_paginate @activities%>
                </div>
            </div>
        </div>
    </div>
</div>
